.racer_table td {
  background-color: white;
  height: 100px;
  width: 100px;
  border: 1px solid black;
}

.racer_table #player1_strip td.active {
  /*background-color: black;*/
  background-image: url("B.png"); 
}

.racer_table #player2_strip td.active {
  /*background-color: black;*/
  background-image: url("G.png"); 
}

table {
  border: 1px solid black;
}

#restart {
  visibility:hidden;
}

h3 {
  visibility: :hidden;
}